{%extends "base.html"%}

{%block content%}

<div class="row row-cols-1 row-cols-md-2 g-4"  >
        
  <div class="col">
    <div class="card">
      <img src="{{ url_for('static', filename='images/casino11.jpeg') }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"> Current casino balance is :  {{balance}}  $ </h5>
        <p class="card-text">  
        </div>
    </div>
  </div>  

  <div class="col">
    <div class="card">
      <img src="{{ url_for('static', filename='images/cartman33.jpeg') }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"> "Screw you guys, I'm going home" </h5>
        <h6 class="card-title">  -Cartman, 'South Park'</h5>
        <p class="card-text">  
        </div>
    </div>
  </div>  

</div>

  


{% endblock %}